body{
    margin: 0;
}

.header{
    background-color: #1F2937;
    font-family:'Times New Roman', Times, serif;
    height: 400px;
}

.title{
    font-size:48px ;
    font-weight: 900;
    color : #F9FAF8;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.logo-link-container{
    display: flex;
    justify-content: space-around;
}



.header-logo{
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 400;
    padding: 16px;
}

div ul{
    list-style-type: none;
    display: flex;
    gap: 8px;
} 

a{
    font-size: 18px;
    text-decoration: none;
    color: #F9FAF8;
}

.title-para-button{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    margin-left: 236px;
    margin-top: 16px;
    max-width: 300px;
}

button{
    background-color: #3882F6;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 4%;
    border: 1px solid #3882F6;
}

.image-title-align{
    display: flex;
    gap: 300px;
}


.information{
    margin-top: 110px;
    font-family:'Times New Roman', Times, serif;
    height: 400px ;
}

.information-header{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.info-boxes{
   margin-top: 50px;
   display: flex;
   justify-content: space-evenly;
}

.container{
    border: 2px solid #3882F6;
    height: 125px;
    width: 150px;
    border-radius: 5%;
}

.info-captions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

.info-captions div{
    margin-bottom: 10px;
    text-align: center;
    color: #1F2937 ;
    margin-top: 10px;
    max-width: 100px;
    flex-wrap: wrap;
}

.quote-container{
    margin-right: 200px;
    margin-left: 200px;
    padding: 100px;

    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    background-color: #E5E7EB;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.writer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:normal;
    font-weight: bold;
    font-size:18px ;
    padding-left: 500px;
}

.calltoaction-container{
    height: 200px;
    margin-left: 150px;
    margin-right:150px;
    background-color: #3882F6;
    border-radius: 2cap;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 150px;
}

.calltoaction-quote-statement{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E5E7EB;
    font-size: 30px;
    font-weight: 900;
    padding-left: 12cap;
}

.calltoaction-statement{
    font-weight: 200;
    font-size: 18px;
}

.calltoaction-button button{
    font-size: 16px;
    height: 40px;
    border: 3px solid white;
    border-radius: 5cap;
}